@import '../css/variables.scss';

#browse-buttons-container {
    h3 {
        margin-top: 1em;
    }
    
}

.browse-buttons {
    display: flex; 
    flex-wrap: wrap;
    & .button {
        width: 132px;
        height: 53px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 120%;
        position: relative;
        background-repeat: no-repeat;
        background-position: 98% 2%;
        &.issue-brief, &.literature-review {
            background-image: url('./../assets/checkmark.svg');
        }
        span {
            top: 2px;
            position: relative;
        }
        &.button--tertiary {
            color: $blue;
            background-color: #fff;
            border: 1px solid $blue;
        }
        &.active {
            border: 1px dotted $blue;
        }
        &:hover {
            border: 1px dotted $blue;
            background-color: $light_blue;
            color: $blue;   
        }

    }

}


.browse-buttons.uncategorized {
    margin-top:1.5625em;
}

#topic-key {
    margin-left: 10px;
    //margin-bottom: 1em;
    div {
        padding: 0 17px;
        position: relative;

        &::after, &::before {
            left: 0;
            top: calc(50% - 7px) !important;
        }
    }
}