@import '../css/variables.scss';

#browse-buttons-container {
    h3 {
        margin-top: 0;
        margin-left: 10px;
    }
    
}

.category-group {
    padding: 10px;
    margin-top: 20px;
    background: #E7E8E9;
}
.browse-buttons {
    display: flex; 
    flex-wrap: wrap;
    & .button {
        width: 132px;
        height: 53px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 120%;
        position: relative;
        background-repeat: no-repeat;
        background-position: 98% 6%;
        background-size: 23%;
        &.issue-brief, &.literature-review {
            background-image: url('./../assets/shark.svg');
        }
        span {
            top: 2px;
            position: relative;
        }
        &.button--tertiary {
            color: $blue;
            background-color: #fff;
            border: 1px solid $blue;
        }
        &.active {
            border: 1px dotted $blue;
        }
        &:hover {
            border: 1px dotted $blue;
            background-color: $light_blue;
            color: $blue;   
        }

    }

}


.browse-buttons.uncategorized {
    margin-top:1.5625em;
}

#topic-key {
    
    div {
        padding: 0 35px;
        position: relative;
        background: url(./../assets/shark.svg) 0 5px / 30px no-repeat;

    }
}