<div id="loading-splash">
    <div>
      <h2>SHARC—Shale Research Clearinghouse</h2>
      <p>SHARC is a publicly accessible, curated clearinghouse for information on the economic, health, and environmental impacts of oil and gas development.</p>
      <img id="shark-image" width="320px" />
      <h3>SHARC is loading</h3>
      <p>This could take a couple minutes.</p>
      <!--[if IE]>
        <p class="ie-message">This feature does not work on Internet Explorer 10 or earlier versions. Please try a different browser.</p>
      <![endif]-->
      <p id="loading-status">Contacting Zotero</p>
      <p id="loading-error"></p>
  </div>
</div>