@import '../css/variables.scss';

.loading .loadable {
    background: url(/assets/spinner.svg) no-repeat;
    background-size: 40px;

}

.synthesis-results li {
    border: 2px solid $blue !important;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    min-width:250px;
    flex-grow:1;
    margin-right: 10px;
    > div {
        padding: 0.9375em !important;
    }
    .links-div {
        display:none;
    }
}

.results {
    min-height: 300px;
    max-height: 700px;
    overflow-y: auto;
    padding: 0.25em;
    padding-right:0.5em;
    border: 1px solid #e6e7e8;

}

.results, .synthesis-results {
    width: 100%;

    
    ul {
        padding: 40px 0 0 0;
        .loading & {
            opacity: 0.5;
        }
    }
    .list-item.show-details {
        .summary-results {
            transform: translateX(-320px);
        }
        .detail-results {
            transform: translateX(0);
        }
    }
    .list-item {
        h3 {
            font-size: 1em;
        }
        position: relative;
        padding: 0;
        border: 1px solid transparent;
        border-bottom-color: #e6e7e8;
        &:hover {
            border-color: $gold;
            border-bottom-color:$gold;
        }
        
        .summary-results {
            will-change: scroll-position;
            background: #fff;
            transition: transform 0.2s linear;
            transform: translateX(0px);
            padding: 0.25em;
        }
        .detail-results-wrapper {
            overflow: hidden;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
        }
        .detail-results {
            box-sizing: border-box;
            padding: 10px;
            will-change: scroll-position;
            width: 320px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to right, $blue 0%, $light_blue 2%, lighten($light_blue, 5%) 100%);
            transition: transform 0.2s linear;
            transform: translateX(320px);
            overflow-y:auto;
            overflow-x: hidden;
            
            
        }
        
        
        &.exiting, &.entering {
        
        }
        &.exiting {
        
        }
        &.book, &.report {
                .list-item__title {
                font-style: italic;
            }
        }

        &.journalArticle, &.newspaperArticle {
            .publisher-name {
                font-style: italic;
            }
        }

        .list-item__label {
            color: $dark_gray;
            background-color: #fff;
            border: 1px solid $dark_gray;
            border-radius: 3px;
            line-height: 130%;
            margin-right: 5px;

            
        }

        &.journalArticle {
            .list-item__label {
                color: $secondary_1;
                border-color: $secondary_1;
            }           
        }
        &.report {
            .list-item__label {
                color: $secondary_2;
                border-color: $secondary_2;
            }
            &.RFF {
                .list-item__label {
                    background-color: $secondary_2;
                    color: #fff;
                }
            }
        }

        &.webpage {
            .list-item__label {
                color: $secondary_3;
                border-color: $secondary_3;
            }
            &.RFF {
                .list-item__label {
                    background-color: $secondary_3;
                    color: #fff;
                }
            }
        }
        &.book {
            .list-item__label {
                color: $secondary_4;
                border-color: $secondary_4;
            }
            &.RFF {
                .list-item__label {
                    background-color: $secondary_4;
                    color: #fff;
                }
            }
        }
        &.bookSection {
            .list-item__label {
                color: $secondary_5;
                border-color: $secondary_5;
            }
            &.RFF {
                .list-item__label {
                    background-color: $secondary_5;
                    color: #fff;
                }
            }

        }
        &.issue-brief {
            .list-item__label {
                color: #fff;
                background-color: $orange;
                border-color: $orange;
            }
        }
        &.literature-review {
            .list-item__label {
                color: #fff;
                background-color: $gold;
                border-color: $gold;
            }
        }
        .list-item__tags {
            a {
                margin-right: 0.4em;
                background-color: transparent;
                border-radius: 3px;
            } 
        }
        
        .publisher-name {
            top: 2px;
            position: relative;

        }
        &.RFF .publisher-name {
            display: none;
        }

        .rff-logo {
            bottom: 2px;
            position: relative;
            margin-right: 5px;
        }
        
    }


}

.item-info {
    .RFF & {
        padding-left: 30px;
        background: url('/assets/logo.svg') no-repeat;
    }
}

.links-div {
    position: absolute;
    bottom: .5em;
    right: .25em;
    a, a:visited, a:active {
        font-size: 12px;
        color: $dark_gray;
        padding: 5px;
        background: #fff;
        border: 1px solid $a11y_gray;
        text-decoration: none;
        border-radius: 3px;
        margin-left: .9375em;
        opacity: 0.7;
        transition: opacity 0.2s linear, border-color 0.2s linear, color 0.2s linear, background-color 0.2s linear;
        //font-weight: bold;
        .list-item:hover & {
            opacity: 1;
            &.details-link {
                border-color:$blue;
            }
        }
        &:hover {
            &.details-link {
                color:#fff;
                background-color:$blue;
            }
            &.copy-bib {
                color:#fff;
                background-color:$dark_gray;
                

            }
        }

    }
    .bib-container {
        //visibility: hidden;
        position: absolute;
        opacity:0;
        z-index:-1;
    }
}