/* colors */
$dark_gray: #58585b;
$a11y_gray: #767676;
$blue: #051839;
$green: #346633;
$gold: #c7922b;
$teal: #4f8190;
$light_blue: #bfccd7;
$red: #990000;
$orange: #cc6600;

$secondary_1: darken(#99ccff, 10%);
$secondary_2: darken(#ccffcc, 55%);
$secondary_3: #cc9966;
$secondary_4: lighten(#330000, 20%);
$secondary_5: light(#336633, 20%);
