@import 'variables.scss';

/* Overides not necessary on production */
/*
html {
	font-family: calluna, "Calluna W01",Georgia,"Times New Roman","DejaVu Serif",serif;
}


.list-item__tags a, .list-item__tag, .tags-list li a, .tag--rail, .subtopics-list__item a, .tag, h1, h2, h3, h4, h5, h6, label, .button--secondary-full, .button--tertiary-full, .button--full, .button--secondary-small, .button--tertiary-small, .list-filter .views-submit-button input[type="submit"], .list-filter__button input[type="submit"], .button--small, .button--secondary, .button--tertiary, button, .button--quarternary, .form-submit, .search-form input[type="submit"], .button, .tabs-primary__tab, .download-label--pdf, .download-label--link, .download-label--img, .download-label, .hero__label--blog, .hero__label--work, .hero__label--media-highlights, .hero__label, .label--work, .label--publication, .label--publications, .label--press-release, .label--press-releases, .label--blog-post, .label--blog-posts, .label--event, .label--magazine, .list-item__label, .list-item--work__label, .list-item--publication__label, .list-item--publications__label, .list-item--collection__label, .list-item--blog-post__label, .list-item--blog-posts__label, .list-item--event__label, .list-item--magazine__label, .list-item--resources-magazine__label, .label, .list-filter, .list-filter--rail, .researcher-list-item__subtitle, .issue-meta, .media-highlight__title, .nav__list-item, .nav-mega .menu li a:link, .nav-mega__list li a:link, .nav-mega .menu li a:visited, .nav-mega__list li a:visited, .mega-summary__contact-info, .mega-summary__phone, .summary__social, .mobile-nav__trigger, .mobile-nav .nav-mega, .mobile-nav__list-item-link, .nav--rail, .pagination, .rail--magazine__issue, .rail--magazine__list li, .social-list--header li, .social-list li, .social-label, .rss-feed, .topics-rss-feed, .collections-list li, .topics-navigation__list, .work-callout__number, .work--meta__title, .work--meta__collection {
	font-family: "Trade Gothic Pro Roman", "TradeGothic LT", "Trade Gothic W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trade Gothic Pro Bold",	
}

#mfPreviewBar {
	display: none;
}
*/
/* end*/

/* end main */

/*
 * FLEXBOX
 */

 .flex {
 	display: flex;
 	flex-wrap: wrap;
 }

 .space-between {
 	justify-content: space-between;
 }

 .items-start {
 	align-items: flex-start;
 }

 .items-center {
 	align-items: center;
 }


.tippy-tooltip.RFF-theme {
  /* Your styling here. Example: */
  background-color: rgba(#fff, 0.9);
  border: 2px solid $blue;
  color: $dark_gray;
}

#search-type {
    label {
        display: inline;
        margin-right: 15px;
        input {
          float:none;  
          top: 0;
        } 
    }
}


.pubtype-pie {
  
    .journalArticle {
      path, rect {
        fill: $blue;
      }
    }
    .report {
      path, rect {
        fill: $green;
      }
    }
    .webpage {
      path, rect {  
        fill: $gold;
      }
    }
    .attachment {
      path, rect {
        fill: $light_blue;
      }
    }
    .book {
      path, rect {
        fill: $red;
      }
    }
    .bookSection {
      path, rect {
        fill: lighten($red, 10%);
      }
    }
    .document {
      path, rect {
        fill: lighten(#bbb, 10%);
      }
    }
    .other {
      path, rect {
        fill: #bbb;
      }
    }
    .magazineArticle {
      path, rect {
        fill: lighten($blue, 10%);
      }
    }
    .presentation {
      path, rect {
        fill: lighten($gold, 20%);
      }
    }
}
#app-container {
  display: inline-block;

}
#sidebar {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
}

/* DUPLICATE SOME RFF-WIDE STYLES SO THAT APP WILL SURVIVE CHANGES TO THE SITE */

/* COLUMNS */

.l-66-33--1 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    @media (min-width: 700px) {
        float: left;
        width: 66.66667%;
        margin-left: 0%;
        margin-right: -66.66667%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
}

.l-66-33--2 {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    @media (min-width: 700px) {
        clear: right;
        float: right;
        width: 33.33333%;
        margin-right: 0%;
        margin-left: -33.33333%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
}

/* BUTTONS */


.button--secondary-full, .button--tertiary-full, .button--full, .button--secondary-small, .button--tertiary-small, .list-filter .views-submit-button input[type="submit"], .list-filter__button input[type="submit"], .button--small, .button--secondary, .button--tertiary, button, .button--quarternary, .form-submit, .search-form input[type="submit"], .button {
    transition: all 0.1s ease-out;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: rgba(34,34,34,0.2) 2px 2px 3px;
    display: inline-block;
    margin: 0.15625em 0;
    padding: 0.5625em 1.25em;
    border: 1px solid transparent;
    background: #051839;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    @media (min-width: 700px) {
        padding: 0.5625em 1.25em;
    }
    @media (min-width: 900px) {
        padding: 0.59375em 1.25em;
    }
}
.button--secondary {
    background: #bfccd7;
    color: #00163a;
}

/* LIST ITEMS */

.list-item {
    margin-bottom: 0.9375em;
    padding-bottom: 0.9375em;
    border-bottom: 1px solid #e6e7e8;
    list-style: none;
}

.list-item__label {
    font-size: 0.65em;
    display: inline-block;
    padding: 0.3125em 0.46875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.list-item__meta {
    font-size: 0.83em;
    line-height: 1.31777em;
    margin-bottom: 0.3125em;
    display: block;
}
