@import 'variables.scss';

/* Overides not necessary on production */
/*
html {
	font-family: calluna, "Calluna W01",Georgia,"Times New Roman","DejaVu Serif",serif;
}


.list-item__tags a, .list-item__tag, .tags-list li a, .tag--rail, .subtopics-list__item a, .tag, h1, h2, h3, h4, h5, h6, label, .button--secondary-full, .button--tertiary-full, .button--full, .button--secondary-small, .button--tertiary-small, .list-filter .views-submit-button input[type="submit"], .list-filter__button input[type="submit"], .button--small, .button--secondary, .button--tertiary, button, .button--quarternary, .form-submit, .search-form input[type="submit"], .button, .tabs-primary__tab, .download-label--pdf, .download-label--link, .download-label--img, .download-label, .hero__label--blog, .hero__label--work, .hero__label--media-highlights, .hero__label, .label--work, .label--publication, .label--publications, .label--press-release, .label--press-releases, .label--blog-post, .label--blog-posts, .label--event, .label--magazine, .list-item__label, .list-item--work__label, .list-item--publication__label, .list-item--publications__label, .list-item--collection__label, .list-item--blog-post__label, .list-item--blog-posts__label, .list-item--event__label, .list-item--magazine__label, .list-item--resources-magazine__label, .label, .list-filter, .list-filter--rail, .researcher-list-item__subtitle, .issue-meta, .media-highlight__title, .nav__list-item, .nav-mega .menu li a:link, .nav-mega__list li a:link, .nav-mega .menu li a:visited, .nav-mega__list li a:visited, .mega-summary__contact-info, .mega-summary__phone, .summary__social, .mobile-nav__trigger, .mobile-nav .nav-mega, .mobile-nav__list-item-link, .nav--rail, .pagination, .rail--magazine__issue, .rail--magazine__list li, .social-list--header li, .social-list li, .social-label, .rss-feed, .topics-rss-feed, .collections-list li, .topics-navigation__list, .work-callout__number, .work--meta__title, .work--meta__collection {
	font-family: "Trade Gothic Pro Roman", "TradeGothic LT", "Trade Gothic W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trade Gothic Pro Bold",	
}

#mfPreviewBar {
	display: none;
}
*/
/* end*/

/* end main */

/*
 * FLEXBOX
 */

 .flex {
 	display: flex;
 	flex-wrap: wrap;
 }

 .space-between {
 	justify-content: space-between;
 }

 .items-start {
 	align-items: flex-start;
 }

 .items-center {
 	align-items: center;
 }


.tippy-tooltip.RFF-theme {
  /* Your styling here. Example: */
  background-color: rgba(#fff, 0.9);
  border: 2px solid $blue;
  color: $dark_gray;
  overflow: hidden;
}

#search-type {
    label {
        display: inline;
        margin-right: 15px;
        input {
          float:none;  
          top: 0;
        } 
    }
}


.pubtype-pie {

    .loading & {
      opacity: 0.3;
    }
  
    .journalArticle {
      path, rect {
        fill: $blue;
      }
    }
    .report {
      path, rect {
        fill: $green;
      }
    }
    .webpage {
      path, rect {  
        fill: $gold;
      }
    }
    .attachment {
      path, rect {
        fill: $light_blue;
      }
    }
    .book {
      path, rect {
        fill: $red;
      }
    }
    .bookSection {
      path, rect {
        fill: lighten($red, 10%);
      }
    }
    .document {
      path, rect {
        fill: lighten(#bbb, 10%);
      }
    }
    .other {
      path, rect {
        fill: #bbb;
      }
    }
    .magazineArticle {
      path, rect {
        fill: lighten($blue, 10%);
      }
    }
    .presentation {
      path, rect {
        fill: lighten($gold, 20%);
      }
    }
    .conferencePaper {
      path, rect {
        fill: lighten($green, 20%);
      }
    }
}
#app-container {
  display: inline-block;
}
#sidebar {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
  .loading & {
    background: url('./../assets/spinner.svg') 100% 25px / 35px no-repeat;
  }
}

#loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  transition: opacity 0.5s linear;
  background-color: $light_blue;
  padding: 40px 10px;
  > div {
    max-width:960px;
  }
  #loading-status {
      transition: opacity 0.25s linear;
  }
  h2 {
    margin: 40px auto;
  }
  p {
    &#loading-error {
      color: $red;
    }
  }
  .sharc-loaded & {
    opacity: 0;
  }
}

main > *:not(#app-container) {
  visibility: hidden;
  .sharc-loaded & {
    visibility: visible;
  }
}

#shark-image {
    transition: transform 0.2s ease-in-out;
    &.swimUp {
      transform: skewY(3deg) skewX(1deg) rotate(-1deg);
    }
    &.swimDown {
      transform: skewY(-3deg) skewX(-1deg) rotate(1deg);
    }
}  

.container {
  position: relative;
}

body {
  background-color: $light_blue;
  &.sharc-loaded  {
    background-color: #fff;
  }
}

.no-opacity {
  opacity: 0;
}

/*  targeting */

@media all and (-ms-high-contrast:none){
  header.landing-header:after, #loading-error:after { /* IE 10 */
    content: 'This feature does not work on Internet Explorer 10 or earlier versions. Please try a different browser.';
    color: $red;
    display: block;
    clear:left;
  }
  *::-ms-backdrop, header.landing-header:after, #loading-error:after { /* IE 11 */
    content: 'This feature looks and works best on up-to-date browsers other than Internet Explorer.';
    color: $red;
    display: block;
    clear:left;
  }
}

.ie-message {
  color: $red;
}

#sidebar {
  will-change: scroll-position;
  .contact-us textarea {
    overflow: visible;
  }
}
